In [1]:
import pcse
import pandas as pd

In [2]:
wofost_object = pcse.start_wofost(grid=31031, crop=1, year=2000, mode='wlp')
type(wofost_object)

c:\Users\abdel\anaconda3\envs\abtest\lib\site-packages\pcse\db\pcse\db_input.py:652: SAWarning: Dialect sqlite+pysqlite does *not* support Decimal objects natively, and SQLAlchemy must convert from floating point - rounding errors and other issues may occur. Please consider storing Decimal numbers as strings or integers on this platform for lossless storage.
  r = select([table_site],
c:\Users\abdel\anaconda3\envs\abtest\lib\site-packages\pcse\db\pcse\db_input.py:127: SAWarning: Dialect sqlite+pysqlite does *not* support Decimal objects natively, and SQLAlchemy must convert from floating point - rounding errors and other issues may occur. Please consider storing Decimal numbers as strings or integers on this platform for lossless storage.
  r = s.execute()
c:\Users\abdel\anaconda3\envs\abtest\lib\site-packages\pcse\db\pcse\db_input.py:183: SAWarning: Dialect sqlite+pysqlite does *not* support Decimal objects natively, and SQLAlchemy must convert from floating point - rounding errors and other issues may occur. Please consider storing Decimal numbers as strings or integers on this platform for lossless storage.
  r = s.execute()
c:\Users\abdel\anaconda3\envs\abtest\lib\site-packages\pcse\db\pcse\db_input.py:493: SAWarning: Dialect sqlite+pysqlite does *not* support Decimal objects natively, and SQLAlchemy must convert from floating point - rounding errors and other issues may occur. Please consider storing Decimal numbers as strings or integers on this platform for lossless storage.
  cursor = select([table_soil_layers.c.thickness,
c:\Users\abdel\anaconda3\envs\abtest\lib\site-packages\pcse\db\pcse\db_input.py:522: SAWarning: Dialect sqlite+pysqlite does *not* support Decimal objects natively, and SQLAlchemy must convert from floating point - rounding errors and other issues may occur. Please consider storing Decimal numbers as strings or integers on this platform for lossless storage.
  r = select([table_soil_pg],

pcse.models.Wofost72_WLP_FD

In [3]:
wofost_object.run(days=10)

In [4]:
wofost_object.get_variable('LAI')

0.2710284037925293

In [5]:
wofost_object.run_till_terminate()

In [6]:
output = wofost_object.get_output()

In [7]:
df = pd.DataFrame(output)

In [8]:
df.head()

,day,DVS,LAI,TAGP,TWSO,TWLV,TWST,TWRT,TRA,RD,SM,WWLOW
0,2000-01-01,0.000000,0.144690,105.000000,0.0,68.250000,36.750000,105.000000,0.005768,10.0,0.250000,19.090000
1,2000-01-02,0.008867,0.154184,111.889710,0.0,72.728312,39.161399,111.889710,0.003312,11.2,0.253925,18.337965
2,2000-01-03,0.017157,0.164025,119.031178,0.0,77.370266,41.660912,119.031178,0.002589,12.4,0.258804,18.322171
3,2000-01-04,0.024293,0.173908,126.203520,0.0,82.032288,44.171232,126.203520,0.006309,13.6,0.263165,18.311042
4,2000-01-05,0.032706,0.185033,134.276367,0.0,87.279639,46.996729,134.276367,0.003616,14.8,0.266002,18.287827

In [10]:
summary_output = wofost_object.get_summary_output()

In [12]:
summary_output

[{'DVS': 2.0,
  'LAIMAX': 6.132713013415593,
  'TAGP': 15261.754008006244,
  'TWSO': 7179.804492059393,
  'TWLV': 3029.370473898692,
  'TWST': 5052.57904204816,
  'TWRT': 1546.9912279812847,
  'CTRAT': 22.457533447526988,
  'RD': 60.0,
  'DOS': None,
  'DOE': datetime.date(2000, 1, 1),
  'DOA': datetime.date(2000, 3, 28),
  'DOM': datetime.date(2000, 5, 31),
  'DOH': None,
  'DOV': None,
  'CEVST': 6.594985673113074}]

In [ ]:
from pcse.fileinput import CABOFileReader
cropfile = os.path.join('./data/crop', 'crop', 'SUG0601.crop')
cropd = CABOFileReader(cropfile)